[submodule "variational-methods"]
	path = variational-methods
	url = https://github.com/Concombrero/variational-methods.git
[submodule "Numerical-Optimization"]
	path = Numerical-Optimization
	url = https://github.com/Concombrero/Numerical-Optimization.git
[submodule "Statistical-Learning"]
	path = Statistical-Learning
	url = https://github.com/Concombrero/Statistical-Learning.git
